@import url('./practice-01.css');
@import url('./practice-02.css');
@import url('./practice-03.css');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
